option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "config.settings"
    PYTHONPATH: "/var/app/current/backend:$PYTHONPATH"

  aws:elasticbeanstalk:container:python:
    # backend가 PYTHONPATH에 들어가 있으니 모듈 경로로 지정
    WSGIPath: "config.wsgi:application"

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static/: static/